.card {
    padding: 2em;
    width: 30em;
    margin: 2em auto;
}

.card-body {
    margin: auto;
    text-align: center;
}

.no-decoration {
    text-decoration: none;
}

#p,
#stopButton {
    display: none;
}